<header>
  <div class="relative flex flex-col md:flex-row items-center h-32 md:h-16 bg-gray-800 rounded-br-2xl rounded-bl-2xl px-4">

    <p class="text-5xl font-bold text-white">Edison Wang</p>

    <button id="refresh" class="absolute left-1/2 -translate-x-1/2 translate-y-20 md:translate-y-0 px-4 py-2 bg-gray-600 text-white rounded-xl hover:underline hover:bg-gray-700">
      Reroll the palette!
    </button>

    <nav class="text-white text-2xl mx-auto md:mx-0 md:ml-auto">
      <a href="/projects/" class="m-3 hover:underline hover:text-gray-200">Projects</a>
      <a href="/" class="m-3 hover:underline hover:text-gray-200">Home</a>
    </nav>
  </div>
</header>